<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/navbar")%>

    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre y apellido</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Ingrese nombre y apellido del cliente.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">ingrese e-mail del cliente.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">País de residencia</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">ingrese país del cliente.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Método de pago</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Método de pago usado por el cliente.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha de pago</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Ingrese fecha en que el cliente abonó.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tipo de membresía</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Ingrese tipo de membresía adquirida por el cliente.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha de expiración de membresía</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Ingrese la fecha de caducidad de la membresía.</div>
          </div>

    
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Verifique los datos por favor.</label>
        </div>
        <button type="submit" class="btn btn-primary">Dar de alta cliente</button>
      </form>
    

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"></script>      
</body>
</html>