<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head")%>

    <body>

    <%-include("../partials/navbar")%>

        <h1>Bienvenido a control DataBase de clientes</h1>
        
        <img src="/src/public/img/dispenser.jpeg">

    <%-include("../partials/footer")%>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    </body>

</html>